@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&family=Sofia&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
          /*--------- header ---------*/

#header{
    width: 100%;
    height:17vh;
    color:#272727;
    background-color: rgb(0, 0, 60);
    display: flex;
    align-items: center; 
}
#tumhe{
  width: 25%;
  height:17vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo{
    width:80%;
    height: 25vh;
    margin-right: 3rem;
}
#che{
    width: 50%;
    height: 17vh;
    background-color:transparent;
    color: #FFFFFF;
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content:center;
} 

.list{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.me{
    color: #FFFFFF;
    list-style-type: none;
    transition-duration: .1s;
    margin: .40rem;
    text-decoration:none ;
    &:hover{
      border-bottom: 1px solid red;
    }
}
#table{
    text-decoration:none ;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transition-duration: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
    width: 25%;
    &:hover{
      transition: .45s;
      background-color: rgb(122, 3, 158); 
  } 
}
.me1{
    color: red;
    text-decoration: none;
    &:hover{
      border-bottom: 1px solid #fefefe;
    }
}
 #contactpage{
    width: 100%;
    height:82vh;
    background-image: linear-gradient(180deg, rgb(0,0,60),rgb(146, 49, 146));
    display: flex;
    align-items: center;
    text-align: center;
 }
 .contacttext{
    width:55%;
    height:70vh;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    
 }
 .contactimg{
    width:45%;
    height:70vh;
    background-color:transparent;
    display: flex;
 }
  .imgclass{
    width:90%;
    height:60vh;
    margin-left: 12px;
  }
 .contacttext h1{
    font-size:3.80rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color:#4AA89A;
 }
 .contacttext p{
    line-height:2rem;
    color:#F2523D;
    font-weight:500;
    font-size:1.60rem;
    line-height:2.10rem;
    word-spacing: 6px;
    margin-left: 1rem;
 }
 .button {
  background-color:aquamarine;
  border: none;
  color: white;
  padding: .40rem .60rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
#btn{
  width: 100%;
  height:10vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#btn .button1 {
  font-size: 1.20rem;
  font-family: "Roboto",sans-serif;
  border: none;
}
#btn .button2 {
  font-size: 1.20rem;
  font-family: "Roboto",sans-serif;
  border: none;
}
.button1 {
  background-color:#4AA89A; 
  color: #FFFFFF; 
  &:hover {
    background-color:rgb(0, 0, 70);
    color: white;
  }
}
.button2 {
  background-color:#F2523D; 
  color:white; 
  &:hover {
    background-color:rgb(0, 0, 70);
    color: white; 
  } 
}
  .foodie{
    width: 100%;
    height: 80vh;
    background-color:#FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .foodiehead{
    width:90%;
    height: 80vh;
    background-color:transparent;
  }
  .foodie .kapil{
    font-size: 2rem;
    text-align: left;
    color:rgb(0, 0, 77);
  }
  .foodie .kuldeep{
    font-size: 1.20rem;
    text-align: left;
  }
  .foodie .kapil1{
    font-size: 2rem;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.60rem;
  }
  .foodie .kuldeep1{
    font-size: 1.20rem;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
  }
  li{
    text-align:left;
    line-height: 2rem;
  }
  .foodhead{
    background-color:rgb(0, 0, 77);
    width: 100%;
    height:13vh;
    text-align: center;

  }
  .foodhead h2{
    font-family: "Roboto" sans-serif;
    font-size:2.20rem;
    color:red;
  }
  .foodhead p{
    font-family: "Roboto" sans-serif;
    color: #FFFFFF;
    font-size: 1.50rem;
  }
  #lappy{
    width: 100%;
    height: 80vh;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  .lappyimg{
    width:90%;
    height: 60vh;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 15px; */
  }
  .lappyimgfix{
    width:80%;
    height: 60vh;
    background-size: cover;
  }
 /*------ FOOTER PAGE START -----*/

.footer {
  background-color:rgb(0, 0, 66);
  color: #fefefe;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footheading{
  background-color:rgb(0, 0, 66);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerlogo{
  width: 16%;
  height: 30vh;
}

.footer .heading {
  width: 90%;
  color: #fefefe;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}
.footer .content p {
  margin-bottom: 1.3rem;
}
.footer .content a {
  text-decoration: none;
  color: #fefefe;
  &:hover {
    color:red;
  }
}
.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 1.40rem;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}